extends layout

block content

  div.entry.col-lg-3
    form.form-horizontal(name="location-form", method="post")
      // Form Name
      div.panel.panel-info
        div.panel-heading
          h3.panel-title Start location
        div.panel-body
          // Text input
          .control-group
            label.control-label(for="name") Name
            .controls
              input#name.input-medium(type="text", name="name", placeholder="Name of location")
          // Text input
          .control-group
            label.control-label(for="address") Address
            .controls
              input#address.input-medium(type="text", name="address", placeholder="Address of location")
        div.panel-heading
          h3.panel-title End destination
        div.panel-body
          .control-group
            label.control-label(for="name") Name
            .controls
              input#name.input-medium(type="text", name="name", placeholder="Name of location")
          // Text input
          .control-group
            label.control-label(for="address") Address
            .controls
              input#address.input-medium(type="text", name="address", placeholder="Address of location")
           div.panel-body
          .control-group
            label.control-label(for="name") Route name
            .controls
              input#name.input-medium(type="text", name="name", placeholder="Name this route")
          button(type="submit").btn.btn-default Submit
  div.map.col-lg-5
  div.found.col-lg-4




