extends layout

block content
  div.container.entry
  form.form-horizontal
    // Form Name
    legend Form Name
    h4 Start location
    // Text input
    .control-group
      label.control-label(for="name") Name
      .controls
        input#name.input-medium(type="text", name="name", placeholder="Name of location")
    // Text input
    .control-group
      label.control-label(for="address") Address
      .controls
        input#address.input-medium(type="text", name="address", placeholder="Address of location")
    h4 End destination
    // Text input
    .control-group
      label.control-label(for="name") Name
      .controls
        input#name.input-medium(type="text", name="name", placeholder="Name of location")
    // Text input
    .control-group
      label.control-label(for="address") Address
      .controls
        input#address.input-medium(type="text", name="address", placeholder="Address of location")


